//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9 (64-bit)
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Created Time: Mon 08 26 19:12:35 2024

IO_LOC "sd_dat3" 80;
IO_PORT "sd_dat3" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sd_dat2" 85;
IO_PORT "sd_dat2" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "uart_tx" 69;
IO_PORT "uart_tx" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mspi_sclk" 59;
IO_PORT "mspi_sclk" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mspi_cs" 60;
IO_PORT "mspi_cs" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "twait" 52;
IO_PORT "twait" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tsnd" 53;
IO_PORT "tsnd" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tdir" 41;
IO_PORT "tdir" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "toe[1]" 26;
IO_PORT "toe[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "toe[0]" 29;
IO_PORT "toe[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "td[7]" 71;
IO_PORT "td[7]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "td[6]" 72;
IO_PORT "td[6]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "td[5]" 74;
IO_PORT "td[5]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "td[4]" 73;
IO_PORT "td[4]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "td[3]" 77;
IO_PORT "td[3]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "td[2]" 75;
IO_PORT "td[2]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "td[1]" 79;
IO_PORT "td[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "td[0]" 86;
IO_PORT "td[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "keys[0]" 88;
IO_PORT "keys[0]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ta[7]" 25;
IO_PORT "ta[7]" IO_TYPE=LVTTL33 PULL_MODE=UP PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "ta[6]" 49;
IO_PORT "ta[6]" IO_TYPE=LVTTL33 PULL_MODE=UP PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "ta[5]" 18;
IO_PORT "ta[5]" IO_TYPE=LVTTL33 PULL_MODE=UP PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "ta[4]" 42;
IO_PORT "ta[4]" IO_TYPE=LVTTL33 PULL_MODE=UP PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "ta[3]" 16;
IO_PORT "ta[3]" IO_TYPE=LVTTL33 PULL_MODE=UP PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "ta[2]" 27;
IO_PORT "ta[2]" IO_TYPE=LVTTL33 PULL_MODE=UP PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "ta[1]" 28;
IO_PORT "ta[1]" IO_TYPE=LVTTL33 PULL_MODE=UP PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "ta[0]" 15;
IO_PORT "ta[0]" IO_TYPE=LVTTL33 PULL_MODE=UP PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "clk27m" 4;
IO_PORT "clk27m" IO_TYPE=LVTTL33 PULL_MODE=UP PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "dip_sw[2]" 51;
IO_PORT "dip_sw[2]" IO_TYPE=LVTTL33 PULL_MODE=UP PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "n_tiorq" 31;
IO_PORT "n_tiorq" IO_TYPE=LVTTL33 PULL_MODE=UP PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "n_twr" 17;
IO_PORT "n_twr" IO_TYPE=LVTTL33 PULL_MODE=UP PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "dip_sw[0]" 30;
IO_PORT "dip_sw[0]" IO_TYPE=LVTTL33 PULL_MODE=UP PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "dip_sw[1]" 55;
IO_PORT "dip_sw[1]" IO_TYPE=LVTTL33 PULL_MODE=UP PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "tclock" 76;
IO_PORT "tclock" IO_TYPE=LVTTL33 PULL_MODE=UP PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "n_trd" 20;
IO_PORT "n_trd" IO_TYPE=LVTTL33 PULL_MODE=UP PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "n_tsltsl" 48;
IO_PORT "n_tsltsl" IO_TYPE=LVTTL33 PULL_MODE=UP PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "keys[1]" 87;
IO_PORT "keys[1]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "mspi_miso" 61;
IO_PORT "mspi_miso" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mspi_mosi" 62;
IO_PORT "mspi_mosi" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "n_treset" 19;
IO_PORT "n_treset" IO_TYPE=LVTTL33 PULL_MODE=UP PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "dip_sw[3]" 54;
IO_PORT "dip_sw[3]" IO_TYPE=LVTTL33 PULL_MODE=UP PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "dip_sw[4]" 56;
IO_PORT "dip_sw[4]" IO_TYPE=LVTTL33 PULL_MODE=UP PCI_CLAMP=OFF BANK_VCCIO=3.3;
