//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.10.03 (64-bit)
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Mon 01 20 22:25:32 2025

IO_LOC "tmds_clk_p" 33,34;
IO_PORT "tmds_clk_p" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "tmds_d_p[2]" 39,40;
IO_PORT "tmds_d_p[2]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "tmds_d_p[1]" 37,38;
IO_PORT "tmds_d_p[1]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "tmds_d_p[0]" 35,36;
IO_PORT "tmds_d_p[0]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "clk27m" 4;
IO_PORT "clk27m" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "button[1]" 87;
IO_PORT "button[1]" IO_TYPE=LVTTL33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "button[0]" 88;
IO_PORT "button[0]" IO_TYPE=LVTTL33 PULL_MODE=DOWN BANK_VCCIO=3.3;
