//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.10.03 (64-bit)
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Thu 12 05 23:13:08 2024

IO_LOC	"clk"			4;
IO_LOC	"clk14m"		80;
IO_PORT	"clk"			IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT	"clk14m"		IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC	"slot_reset_n"	86;
IO_LOC	"slot_iorq_n"	71;
IO_LOC	"slot_rd_n"		15;
IO_LOC	"slot_wr_n"		16;
IO_LOC	"slot_wait"		53;
IO_LOC	"slot_intr"		52;
IO_LOC	"slot_data_dir"	19;
IO_PORT	"slot_reset_n"	IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT	"slot_iorq_n"	IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT	"slot_rd_n"		IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT	"slot_wr_n"		IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT	"slot_wait"		IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT	"slot_intr"		IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT	"slot_data_dir"	IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC	"busdir"		72;
IO_LOC	"oe_n"			20;
IO_LOC	"dipsw"			18;
IO_PORT	"busdir"		IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT	"oe_n"			IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT	"dipsw"			IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC	"slot_a[0]"		30;
IO_LOC	"slot_a[1]"		31;
IO_LOC	"slot_a[2]"		76;
IO_LOC	"slot_a[3]"		42;
IO_LOC	"slot_a[4]"		41;
IO_LOC	"slot_a[5]"		48;
IO_LOC	"slot_a[6]"		49;
IO_LOC	"slot_a[7]"		17;
IO_PORT	"slot_a[0]"		IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT	"slot_a[1]"		IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT	"slot_a[2]"		IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT	"slot_a[3]"		IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT	"slot_a[4]"		IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT	"slot_a[5]"		IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT	"slot_a[6]"		IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT	"slot_a[7]"		IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC	"slot_d[0]"		29;
IO_LOC	"slot_d[1]"		28;
IO_LOC	"slot_d[2]"		27;
IO_LOC	"slot_d[3]"		77;
IO_LOC	"slot_d[4]"		85;
IO_LOC	"slot_d[5]"		75;
IO_LOC	"slot_d[6]"		74;
IO_LOC	"slot_d[7]"		73;
IO_PORT	"slot_d[0]"		IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT	"slot_d[1]"		IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT	"slot_d[2]"		IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT	"slot_d[3]"		IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT	"slot_d[4]"		IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT	"slot_d[5]"		IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT	"slot_d[6]"		IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT	"slot_d[7]"		IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC	"button[0]"		88;
IO_LOC	"button[1]"		87;
IO_PORT	"button[0]"		IO_TYPE=LVTTL33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_PORT	"button[1]"		IO_TYPE=LVTTL33 PULL_MODE=DOWN BANK_VCCIO=3.3;

IO_LOC	"ws2812_led"	79;
IO_PORT	"ws2812_led"	IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC	"tmds_clk_p"	33,34;
IO_LOC	"tmds_d_p[0]"	35,36;
IO_LOC	"tmds_d_p[1]"	37,38;
IO_LOC	"tmds_d_p[2]"	39,40;
IO_PORT	"tmds_clk_p"	IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_PORT	"tmds_d_p[0]"	IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_PORT	"tmds_d_p[1]"	IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_PORT	"tmds_d_p[2]"	IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;

//	IO_LOC	"uart_tx"		69;
//	IO_PORT	"uart_tx"		IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
