//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9 (64-bit)
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Mon 05 20 06:52:15 2024

IO_LOC "n_led[5]" 16;
IO_PORT "n_led[5]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "n_led[4]" 15;
IO_PORT "n_led[4]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "n_led[3]" 14;
IO_PORT "n_led[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "n_led[2]" 13;
IO_PORT "n_led[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "n_led[1]" 11;
IO_PORT "n_led[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "n_led[0]" 10;
IO_PORT "n_led[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "tsnd" 57;
IO_PORT "tsnd" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tdir" 25;
IO_PORT "tdir" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "srom_sclk" 59;
IO_PORT "srom_sclk" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "srom_mosi" 61;
IO_PORT "srom_mosi" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "srom_cs" 60;
IO_PORT "srom_cs" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tf_sclk" 36;
IO_PORT "tf_sclk" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tf_mosi" 37;
IO_PORT "tf_mosi" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tf_cs" 38;
IO_PORT "tf_cs" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "td[7]" 56;
IO_PORT "td[7]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "td[6]" 55;
IO_PORT "td[6]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "td[5]" 54;
IO_PORT "td[5]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "td[4]" 53;
IO_PORT "td[4]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "td[3]" 32;
IO_PORT "td[3]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "td[2]" 31;
IO_PORT "td[2]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "td[1]" 49;
IO_PORT "td[1]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "td[0]" 48;
IO_PORT "td[0]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "button[1]" 4;
IO_PORT "button[1]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "button[0]" 3;
IO_PORT "button[0]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ta[7]" 75;
IO_PORT "ta[7]" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ta[6]" 68;
IO_PORT "ta[6]" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ta[5]" 70;
IO_PORT "ta[5]" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ta[4]" 35;
IO_PORT "ta[4]" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ta[3]" 71;
IO_PORT "ta[3]" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ta[2]" 40;
IO_PORT "ta[2]" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ta[1]" 72;
IO_PORT "ta[1]" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ta[0]" 34;
IO_PORT "ta[0]" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "n_treset" 30;
IO_PORT "n_treset" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "sys_clk" 52;
IO_PORT "sys_clk" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "dip_sw[4]" 83;
IO_PORT "dip_sw[4]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ta[10]" 42;
IO_PORT "ta[10]" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "dip_sw[6]" 85;
IO_PORT "dip_sw[6]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "dip_sw[1]" 80;
IO_PORT "dip_sw[1]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "dip_sw[2]" 81;
IO_PORT "dip_sw[2]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ta[14]" 73;
IO_PORT "ta[14]" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ta[15]" 41;
IO_PORT "ta[15]" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ta[13]" 33;
IO_PORT "ta[13]" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ta[12]" 74;
IO_PORT "ta[12]" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "dip_sw[3]" 82;
IO_PORT "dip_sw[3]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "dip_sw[7]" 86;
IO_PORT "dip_sw[7]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "dip_sw[0]" 79;
IO_PORT "dip_sw[0]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "dip_sw[5]" 84;
IO_PORT "dip_sw[5]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ta[11]" 76;
IO_PORT "ta[11]" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ta[8]" 69;
IO_PORT "ta[8]" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "n_trd" 29;
IO_PORT "n_trd" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "n_tiorq" 26;
IO_PORT "n_tiorq" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "n_tmerq" 27;
IO_PORT "n_tmerq" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "tclock" 51;
IO_PORT "tclock" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "n_tsltsl" 63;
IO_PORT "n_tsltsl" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "srom_miso" 62;
IO_PORT "srom_miso" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "tf_miso" 39;
IO_PORT "tf_miso" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ta[9]" 77;
IO_PORT "ta[9]" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "n_twr" 28;
IO_PORT "n_twr" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
