//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved.
//File Title: Physical Constraints file of ports
//Tool Version: V1.9.10.03 (64-bit)
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device: C
//Created Time: Sun Dec 15 17:52:55 2024

IO_LOC "clk27m"      4;
IO_PORT "clk27m"     IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=NA HYSTERESIS=NONE SINGLE_RESISTOR=OFF DIFF_RESISTOR=NA DRIVE=NA DRIVE_LEVEL=NA PCI_CLAMP=ON SLEW_RATE=NA VREF=NA BANK_VCCIO=3.3;
IO_LOC "clk3_579m"   76;
IO_PORT "clk3_579m"  IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=NA HYSTERESIS=NONE SINGLE_RESISTOR=NA DIFF_RESISTOR=NA DRIVE=NA DRIVE_LEVEL=NA PCI_CLAMP=ON SLEW_RATE=NA VREF=NA BANK_VCCIO=3.3;
IO_LOC "button[0]"   88;
IO_PORT "button[0]"  IO_TYPE=LVTTL33 PULL_MODE=DOWN OPEN_DRAIN=NA HYSTERESIS=NONE SINGLE_RESISTOR=OFF DIFF_RESISTOR=NA DRIVE=NA DRIVE_LEVEL=NA PCI_CLAMP=ON SLEW_RATE=NA VREF=NA BANK_VCCIO=3.3;
IO_LOC "button[1]"   87;
IO_PORT "button[1]"  IO_TYPE=LVTTL33 PULL_MODE=DOWN OPEN_DRAIN=NA HYSTERESIS=NONE SINGLE_RESISTOR=OFF DIFF_RESISTOR=NA DRIVE=NA DRIVE_LEVEL=NA PCI_CLAMP=ON SLEW_RATE=NA VREF=NA BANK_VCCIO=3.3;
IO_LOC "spi_cs_n"    51;
IO_PORT "spi_cs_n"   IO_TYPE=LVCMOS18 PULL_MODE=UP OPEN_DRAIN=NA HYSTERESIS=NONE SINGLE_RESISTOR=OFF DIFF_RESISTOR=NA DRIVE=NA PCI_CLAMP=ON SLEW_RATE=NA VREF=NA BANK_VCCIO=3.3;
IO_LOC "spi_clk"     57;
IO_PORT "spi_clk"    IO_TYPE=LVCMOS18 PULL_MODE=UP OPEN_DRAIN=NA HYSTERESIS=NONE SINGLE_RESISTOR=OFF DIFF_RESISTOR=NA DRIVE=NA PCI_CLAMP=ON SLEW_RATE=NA VREF=NA BANK_VCCIO=3.3;
IO_LOC "spi_mosi"    19;
IO_PORT "spi_mosi"   IO_TYPE=LVCMOS18 PULL_MODE=UP OPEN_DRAIN=NA HYSTERESIS=NONE SINGLE_RESISTOR=OFF DIFF_RESISTOR=NA DRIVE=NA PCI_CLAMP=ON SLEW_RATE=NA VREF=NA BANK_VCCIO=3.3;
IO_LOC "lcd_clk"     77;
IO_PORT "lcd_clk"    IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=OFF HYSTERESIS=NA SINGLE_RESISTOR=NA DIFF_RESISTOR=NA DRIVE=8 DRIVE_LEVEL=8 PCI_CLAMP=NA SLEW_RATE=FAST VREF=NA BANK_VCCIO=3.3;
IO_LOC "lcd_de"      48;
IO_PORT "lcd_de"     IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=OFF HYSTERESIS=NA SINGLE_RESISTOR=OFF DIFF_RESISTOR=NA DRIVE=8 DRIVE_LEVEL=8 PCI_CLAMP=NA SLEW_RATE=FAST VREF=NA BANK_VCCIO=3.3;
IO_LOC "lcd_hsync"   25;
IO_PORT "lcd_hsync"  IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=OFF HYSTERESIS=NA SINGLE_RESISTOR=NA DIFF_RESISTOR=NA DRIVE=8 DRIVE_LEVEL=8 PCI_CLAMP=NA SLEW_RATE=FAST VREF=NA BANK_VCCIO=3.3;
IO_LOC "lcd_vsync"   26;
IO_PORT "lcd_vsync"  IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=OFF HYSTERESIS=NA SINGLE_RESISTOR=NA DIFF_RESISTOR=NA DRIVE=8 DRIVE_LEVEL=8 PCI_CLAMP=NA SLEW_RATE=FAST VREF=NA BANK_VCCIO=3.3;
IO_LOC "lcd_red[0]"  42;
IO_PORT "lcd_red[0]" IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=OFF HYSTERESIS=NA SINGLE_RESISTOR=NA DIFF_RESISTOR=NA DRIVE=8 DRIVE_LEVEL=8 PCI_CLAMP=NA SLEW_RATE=FAST VREF=NA BANK_VCCIO=3.3;
IO_LOC "lcd_red[1]"  41;
IO_PORT "lcd_red[1]" IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=OFF HYSTERESIS=NA SINGLE_RESISTOR=NA DIFF_RESISTOR=NA DRIVE=8 DRIVE_LEVEL=8 PCI_CLAMP=NA SLEW_RATE=FAST VREF=NA BANK_VCCIO=3.3;
IO_LOC "lcd_red[2]"  40;
IO_PORT "lcd_red[2]" IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=OFF HYSTERESIS=NA SINGLE_RESISTOR=NA DIFF_RESISTOR=NA DRIVE=8 DRIVE_LEVEL=8 PCI_CLAMP=NA SLEW_RATE=FAST VREF=NA BANK_VCCIO=3.3;
IO_LOC "lcd_red[3]"  39;
IO_PORT "lcd_red[3]" IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=OFF HYSTERESIS=NA SINGLE_RESISTOR=NA DIFF_RESISTOR=NA DRIVE=8 DRIVE_LEVEL=8 PCI_CLAMP=NA SLEW_RATE=FAST VREF=NA BANK_VCCIO=3.3;
IO_LOC "lcd_red[4]"  38;
IO_PORT "lcd_red[4]" IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=OFF HYSTERESIS=NA SINGLE_RESISTOR=NA DIFF_RESISTOR=NA DRIVE=8 DRIVE_LEVEL=8 PCI_CLAMP=NA SLEW_RATE=FAST VREF=NA BANK_VCCIO=3.3;
IO_LOC "lcd_green[0]" 37;
IO_PORT "lcd_green[0]" IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=OFF HYSTERESIS=NA SINGLE_RESISTOR=NA DIFF_RESISTOR=NA DRIVE=8 DRIVE_LEVEL=8 PCI_CLAMP=NA SLEW_RATE=FAST VREF=NA BANK_VCCIO=3.3;
IO_LOC "lcd_green[1]" 36;
IO_PORT "lcd_green[1]" IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=OFF HYSTERESIS=NA SINGLE_RESISTOR=NA DIFF_RESISTOR=NA DRIVE=8 DRIVE_LEVEL=8 PCI_CLAMP=NA SLEW_RATE=FAST VREF=NA BANK_VCCIO=3.3;
IO_LOC "lcd_green[2]" 35;
IO_PORT "lcd_green[2]" IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=OFF HYSTERESIS=NA SINGLE_RESISTOR=NA DIFF_RESISTOR=NA DRIVE=8 DRIVE_LEVEL=8 PCI_CLAMP=NA SLEW_RATE=FAST VREF=NA BANK_VCCIO=3.3;
IO_LOC "lcd_green[3]" 34;
IO_PORT "lcd_green[3]" IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=OFF HYSTERESIS=NA SINGLE_RESISTOR=NA DIFF_RESISTOR=NA DRIVE=8 DRIVE_LEVEL=8 PCI_CLAMP=NA SLEW_RATE=FAST VREF=NA BANK_VCCIO=3.3;
IO_LOC "lcd_green[4]" 33;
IO_PORT "lcd_green[4]" IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=OFF HYSTERESIS=NA SINGLE_RESISTOR=NA DIFF_RESISTOR=NA DRIVE=8 DRIVE_LEVEL=8 PCI_CLAMP=NA SLEW_RATE=FAST VREF=NA BANK_VCCIO=3.3;
IO_LOC "lcd_green[5]" 32;
IO_PORT "lcd_green[5]" IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=OFF HYSTERESIS=NA SINGLE_RESISTOR=NA DIFF_RESISTOR=NA DRIVE=8 DRIVE_LEVEL=8 PCI_CLAMP=NA SLEW_RATE=FAST VREF=NA BANK_VCCIO=3.3;
IO_LOC "lcd_blue[0]" 31;
IO_PORT "lcd_blue[0]" IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=OFF HYSTERESIS=NA SINGLE_RESISTOR=NA DIFF_RESISTOR=NA DRIVE=8 DRIVE_LEVEL=8 PCI_CLAMP=NA SLEW_RATE=FAST VREF=NA BANK_VCCIO=3.3;
IO_LOC "lcd_blue[1]" 30;
IO_PORT "lcd_blue[1]" IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=OFF HYSTERESIS=NA SINGLE_RESISTOR=NA DIFF_RESISTOR=NA DRIVE=8 DRIVE_LEVEL=8 PCI_CLAMP=NA SLEW_RATE=FAST VREF=NA BANK_VCCIO=3.3;
IO_LOC "lcd_blue[2]" 29;
IO_PORT "lcd_blue[2]" IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=OFF HYSTERESIS=NA SINGLE_RESISTOR=NA DIFF_RESISTOR=NA DRIVE=8 DRIVE_LEVEL=8 PCI_CLAMP=NA SLEW_RATE=FAST VREF=NA BANK_VCCIO=3.3;
IO_LOC "lcd_blue[3]" 28;
IO_PORT "lcd_blue[3]" IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=OFF HYSTERESIS=NA SINGLE_RESISTOR=NA DIFF_RESISTOR=NA DRIVE=8 DRIVE_LEVEL=8 PCI_CLAMP=NA SLEW_RATE=FAST VREF=NA BANK_VCCIO=3.3;
IO_LOC "lcd_blue[4]" 27;
IO_PORT "lcd_blue[4]" IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=OFF HYSTERESIS=NA SINGLE_RESISTOR=NA DIFF_RESISTOR=NA DRIVE=8 DRIVE_LEVEL=8 PCI_CLAMP=NA SLEW_RATE=FAST VREF=NA BANK_VCCIO=3.3;
IO_LOC "lcd_bl"      49;
IO_PORT "lcd_bl"     IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=OFF HYSTERESIS=NA SINGLE_RESISTOR=OFF DIFF_RESISTOR=NA DRIVE=8 DRIVE_LEVEL=8 PCI_CLAMP=NA SLEW_RATE=FAST VREF=NA BANK_VCCIO=3.3;
IO_LOC "spi_miso"    86;
IO_PORT "spi_miso"   IO_TYPE=LVCMOS18 PULL_MODE=UP OPEN_DRAIN=OFF HYSTERESIS=NA SINGLE_RESISTOR=NA DIFF_RESISTOR=NA DRIVE=8 DRIVE_LEVEL=16 PCI_CLAMP=NA SLEW_RATE=FAST VREF=NA BANK_VCCIO=1.8;
IO_LOC "uart_tx"     69;
IO_PORT "uart_tx"    IO_TYPE=LVTTL33 PULL_MODE=UP OPEN_DRAIN=OFF HYSTERESIS=NA SINGLE_RESISTOR=NA DIFF_RESISTOR=NA DRIVE=8 DRIVE_LEVEL=8 PCI_CLAMP=NA SLEW_RATE=FAST VREF=NA BANK_VCCIO=3.3;
