//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.02 (64-bit)
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Fri 05 23 06:54:24 2025

IO_LOC "clk14m" T7;
IO_LOC "clk27m" H11;
IO_PORT "clk14m" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "clk27m" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "p_slot_wait" J14;
IO_LOC "p_slot_int" J16;
IO_PORT "p_slot_wait" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_int"  IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "p_video_b[4]" B14;
IO_LOC "p_video_b[3]" A14;
IO_LOC "p_video_b[2]" B13;
IO_LOC "p_video_b[1]" C12;
IO_LOC "p_video_b[0]" B12;
IO_LOC "p_video_g[4]" D10;
IO_LOC "p_video_g[3]" R7;
IO_LOC "p_video_g[2]" P7;
IO_LOC "p_video_g[1]" B11;
IO_LOC "p_video_g[0]" A11;
IO_LOC "p_video_r[4]" N6;
IO_LOC "p_video_r[3]" N7;
IO_LOC "p_video_r[2]" N9;
IO_LOC "p_video_r[1]" N8;
IO_LOC "p_video_r[0]" L9;
IO_LOC "p_video_vs" D14;
IO_LOC "p_video_hs" A15;
IO_PORT "p_video_b[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_b[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_b[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_b[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_b[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_g[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_g[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_g[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_g[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_g[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_r[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_r[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_r[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_r[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_r[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_vs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_hs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "dipsw[4]" T5;
IO_LOC "dipsw[3]" T4;
IO_LOC "dipsw[2]" T3;
IO_LOC "dipsw[1]" T2;
IO_LOC "dipsw[0]" D7;
IO_PORT "dipsw[4]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
IO_PORT "dipsw[3]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
IO_PORT "dipsw[2]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
IO_PORT "dipsw[1]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
IO_PORT "dipsw[0]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;

IO_LOC "uart_tx" M11;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33
