//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.02 (64-bit)
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Sun 05 25 07:33:06 2025

IO_LOC  "uart_tx" M11;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "p_video_b[4]" B14;
IO_LOC  "p_video_b[3]" A14;
IO_LOC  "p_video_b[2]" B13;
IO_LOC  "p_video_b[1]" C12;
IO_LOC  "p_video_b[0]" B12;
IO_PORT "p_video_b[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_b[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_b[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_b[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_b[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "p_video_g[4]" D10;
IO_LOC  "p_video_g[3]" R7;
IO_LOC  "p_video_g[2]" P7;
IO_LOC  "p_video_g[1]" B11;
IO_LOC  "p_video_g[0]" A11;
IO_PORT "p_video_g[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_g[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_g[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_g[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_g[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "p_video_r[4]" N6;
IO_LOC  "p_video_r[3]" N7;
IO_LOC  "p_video_r[2]" N9;
IO_LOC  "p_video_r[1]" N8;
IO_LOC  "p_video_r[0]" L9;
IO_PORT "p_video_r[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_r[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_r[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_r[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_r[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "p_video_vs" D14;
IO_LOC  "p_video_hs" A15;
IO_PORT "p_video_vs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_hs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "p_slot_wait"     J14;
IO_LOC  "p_slot_int"      J16;
IO_LOC  "p_slot_oe_n"     M6;
IO_LOC  "p_slot_busdir"   T6;
IO_LOC  "p_slot_data_dir" L8;
IO_LOC  "p_slot_rfsh_n"   G14;
IO_LOC  "p_slot_m1_n"     G15;
IO_LOC  "p_slot_rd_n"     F16;
IO_LOC  "p_slot_wr_n"     F14;
IO_LOC  "p_slot_ioreq_n"  J12;
IO_LOC  "p_slot_mreq_n"   H12;
IO_LOC  "p_slot_sltsl_n"  H13;
IO_LOC  "p_slot_reset_n"  T10;
IO_PORT "p_slot_wait"     IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_int"      IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_oe_n"     IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_busdir"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_data_dir" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_rfsh_n"   IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_m1_n"     IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_rd_n"     IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_wr_n"     IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_ioreq_n"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_mreq_n"   IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_sltsl_n"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_reset_n"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;


IO_LOC  "p_slot_data[7]" P11;
IO_LOC  "p_slot_data[6]" T11;
IO_LOC  "p_slot_data[5]" R11;
IO_LOC  "p_slot_data[4]" T12;
IO_LOC  "p_slot_data[3]" R12;
IO_LOC  "p_slot_data[2]" P13;
IO_LOC  "p_slot_data[1]" R13;
IO_LOC  "p_slot_data[0]" T14;
IO_PORT "p_slot_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "p_slot_address[15]" P9;
IO_LOC  "p_slot_address[14]" T9;
IO_LOC  "p_slot_address[13]" K16;
IO_LOC  "p_slot_address[12]" J15;
IO_LOC  "p_slot_address[11]" H16;
IO_LOC  "p_slot_address[10]" H14;
IO_LOC  "p_slot_address[9]"  G16;
IO_LOC  "p_slot_address[8]"  H15;
IO_LOC  "p_slot_address[7]"  T8;
IO_LOC  "p_slot_address[6]"  P8;
IO_LOC  "p_slot_address[5]"  N16;
IO_LOC  "p_slot_address[4]"  N14;
IO_LOC  "p_slot_address[3]"  L16;
IO_LOC  "p_slot_address[2]"  L14;
IO_LOC  "p_slot_address[1]"  K15;
IO_LOC  "p_slot_address[0]"  K14;
IO_PORT "p_slot_address[14]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[15]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[13]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[12]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[9]"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[8]"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[7]"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[6]"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[5]"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[4]"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[3]"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[2]"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[1]"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[0]"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "dipsw[4]" T5;
IO_LOC "dipsw[3]" T4;
IO_LOC "dipsw[2]" T3;
IO_LOC "dipsw[1]" T2;
IO_LOC "dipsw[0]" D7;
IO_PORT "dipsw[4]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
IO_PORT "dipsw[3]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
IO_PORT "dipsw[2]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
IO_PORT "dipsw[1]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
IO_PORT "dipsw[0]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;

IO_LOC  "clk14m" T7;
IO_LOC  "clk27m" H11;
IO_PORT "clk14m" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "clk27m" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
