//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.10.03 (64-bit)
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Thu 12 05 23:13:08 2024

IO_LOC "uart_tx" 69;
IO_PORT "uart_tx" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "button[0]" 88;
IO_PORT "button[0]" IO_TYPE=LVTTL33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "clk27m" 4;
IO_PORT "clk27m" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "button[1]" 87;
IO_PORT "button[1]" IO_TYPE=LVTTL33 PULL_MODE=DOWN BANK_VCCIO=3.3;
