//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.02 (64-bit)
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Sun 05 25 07:33:06 2025

IO_LOC  "p_video_b[4]" B14;
IO_LOC  "p_video_b[3]" A14;
IO_LOC  "p_video_b[2]" B13;
IO_LOC  "p_video_b[1]" C12;
IO_LOC  "p_video_b[0]" B12;
IO_PORT "p_video_b[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_b[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_b[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_b[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_b[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "p_video_g[4]" D10;
IO_LOC  "p_video_g[3]" R7;
IO_LOC  "p_video_g[2]" P7;
IO_LOC  "p_video_g[1]" B11;
IO_LOC  "p_video_g[0]" A11;
IO_PORT "p_video_g[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_g[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_g[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_g[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_g[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "p_video_r[4]" N6;
IO_LOC  "p_video_r[3]" N7;
IO_LOC  "p_video_r[2]" N9;
IO_LOC  "p_video_r[1]" N8;
IO_LOC  "p_video_r[0]" L9;
IO_PORT "p_video_r[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_r[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_r[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_r[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_r[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "p_video_vs" D14;
IO_LOC  "p_video_hs" A15;
IO_PORT "p_video_vs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_video_hs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "p_slot_wait"     J14;
IO_LOC  "p_slot_int"      J16;
IO_LOC  "p_slot_oe_n"     M6;
IO_LOC  "p_slot_busdir"   T6;
IO_LOC  "p_slot_data_dir" L8;
IO_LOC  "p_slot_rfsh_n"   G14;
IO_LOC  "p_slot_m1_n"     G15;
IO_LOC  "p_slot_rd_n"     F16;
IO_LOC  "p_slot_wr_n"     F14;
IO_LOC  "p_slot_ioreq_n"  J12;
IO_LOC  "p_slot_mreq_n"   H12;
IO_LOC  "p_slot_sltsl_n"  H13;
IO_LOC  "p_slot_reset_n"  T10;
IO_PORT "p_slot_wait"     IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_int"      IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_oe_n"     IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_busdir"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_data_dir" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_rfsh_n"   IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_m1_n"     IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_rd_n"     IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_wr_n"     IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_ioreq_n"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_mreq_n"   IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_sltsl_n"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_reset_n"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;


IO_LOC  "p_slot_data[7]" P11;
IO_LOC  "p_slot_data[6]" T11;
IO_LOC  "p_slot_data[5]" R11;
IO_LOC  "p_slot_data[4]" T12;
IO_LOC  "p_slot_data[3]" R12;
IO_LOC  "p_slot_data[2]" P13;
IO_LOC  "p_slot_data[1]" R13;
IO_LOC  "p_slot_data[0]" T14;
IO_PORT "p_slot_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "p_slot_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "p_slot_address[15]" P9;
IO_LOC  "p_slot_address[14]" T9;
IO_LOC  "p_slot_address[13]" K16;
IO_LOC  "p_slot_address[12]" J15;
IO_LOC  "p_slot_address[11]" H16;
IO_LOC  "p_slot_address[10]" H14;
IO_LOC  "p_slot_address[9]"  G16;
IO_LOC  "p_slot_address[8]"  H15;
IO_LOC  "p_slot_address[7]"  T8;
IO_LOC  "p_slot_address[6]"  P8;
IO_LOC  "p_slot_address[5]"  N16;
IO_LOC  "p_slot_address[4]"  N14;
IO_LOC  "p_slot_address[3]"  L16;
IO_LOC  "p_slot_address[2]"  L14;
IO_LOC  "p_slot_address[1]"  K15;
IO_LOC  "p_slot_address[0]"  K14;
IO_PORT "p_slot_address[14]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[15]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[13]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[12]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[9]"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[8]"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[7]"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[6]"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[5]"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[4]"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[3]"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[2]"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[1]"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "p_slot_address[0]"  IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "dipsw[4]" T5;
IO_LOC "dipsw[3]" T4;
IO_LOC "dipsw[2]" T3;
IO_LOC "dipsw[1]" T2;
IO_LOC "dipsw[0]" D7;
IO_PORT "dipsw[4]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
IO_PORT "dipsw[3]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
IO_PORT "dipsw[2]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
IO_PORT "dipsw[1]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
IO_PORT "dipsw[0]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;

IO_LOC  "clk14m" T7;
IO_LOC  "clk27m" H11;
IO_PORT "clk14m" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "clk27m" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

// ----------------------------------------------------------------------------
//	DDR3
// ----------------------------------------------------------------------------
IO_LOC "ddr_ba[2]" H5;
IO_LOC "ddr_ba[1]" D3;
IO_LOC "ddr_ba[0]" H4;
IO_PORT "ddr_ba[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_ba[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_ba[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;

IO_LOC "ddr_addr[13]" C8;
IO_LOC "ddr_addr[12]" A3;
IO_LOC "ddr_addr[11]" B7;
IO_LOC "ddr_addr[10]" K3;
IO_LOC "ddr_addr[9]" F9;
IO_LOC "ddr_addr[8]" A5;
IO_LOC "ddr_addr[7]" D8;
IO_LOC "ddr_addr[6]" B1;
IO_LOC "ddr_addr[5]" E6;
IO_LOC "ddr_addr[4]" C4;
IO_LOC "ddr_addr[3]" F8;
IO_LOC "ddr_addr[2]" D6;
IO_LOC "ddr_addr[1]" A4;
IO_LOC "ddr_addr[0]" F7;
IO_PORT "ddr_addr[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_addr[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_addr[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_addr[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_addr[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_addr[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_addr[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_addr[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_addr[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_addr[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_addr[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_addr[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_addr[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_addr[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;

IO_LOC "ddr_odt" R3;
IO_LOC "ddr_cke" J2;
IO_LOC "ddr_cs_n" P5;
IO_LOC "ddr_we_n" L2;
IO_LOC "ddr_cas_n" R6;
IO_LOC "ddr_ras_n" R4;
IO_LOC "ddr_reset_n" B9;
IO_LOC "ddr_clk" J1,J3;
IO_PORT "ddr_odt" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_cke" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_cs_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_we_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_cas_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_ras_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_reset_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_clk" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;

IO_LOC "ddr_dqm[1]" K5;
IO_LOC "ddr_dqm[0]" G1;
IO_PORT "ddr_dqm[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_dqm[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;

IO_LOC "ddr_dq[15]" M2;
IO_LOC "ddr_dq[14]" R1;
IO_LOC "ddr_dq[13]" H3;
IO_LOC "ddr_dq[12]" P4;
IO_LOC "ddr_dq[11]" L1;
IO_LOC "ddr_dq[10]" N2;
IO_LOC "ddr_dq[9]" K4;
IO_LOC "ddr_dq[8]" M3;
IO_LOC "ddr_dq[7]" B3;
IO_LOC "ddr_dq[6]" E1;
IO_LOC "ddr_dq[5]" C1;
IO_LOC "ddr_dq[4]" E2;
IO_LOC "ddr_dq[3]" F3;
IO_LOC "ddr_dq[2]" F4;
IO_LOC "ddr_dq[1]" F5;
IO_LOC "ddr_dq[0]" G5;
IO_PORT "ddr_dq[15]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "ddr_dq[14]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "ddr_dq[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "ddr_dq[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "ddr_dq[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "ddr_dq[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "ddr_dq[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "ddr_dq[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "ddr_dq[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "ddr_dq[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "ddr_dq[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "ddr_dq[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "ddr_dq[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "ddr_dq[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "ddr_dq[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "ddr_dq[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;

IO_LOC "ddr_dqs[1]" J5,K6;
IO_LOC "ddr_dqs[0]" G2,G3;
IO_PORT "ddr_dqs[1]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_dqs[0]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
