//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Sat 02 01 19:01:16 2025

IO_LOC "tmds_clk_p" 33,34;
IO_PORT "tmds_clk_p" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "tmds_d_p[0]" 35,36;
IO_PORT "tmds_d_p[0]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "tmds_d_p[1]" 37,38;
IO_PORT "tmds_d_p[1]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "tmds_d_p[2]" 39,40;
IO_PORT "tmds_d_p[2]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "led[5]" 20;
IO_PORT "led[5]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[4]" 19;
IO_PORT "led[4]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[3]" 18;
IO_PORT "led[3]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[2]" 17;
IO_PORT "led[2]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[1]" 16;
IO_PORT "led[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[0]" 15;
IO_PORT "led[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "button[1]" 87;
IO_PORT "button[1]" IO_TYPE=LVTTL33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "button[0]" 88;
IO_PORT "button[0]" IO_TYPE=LVTTL33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "clk3_579m" 76;
IO_PORT "clk3_579m" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clk27m" 4;
IO_PORT "clk27m" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
